anyio==4.3.0
asyncstdlib==3.12.2
attrs==23.2.0
backports.entry-points-selectable==1.3.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
colorzero==2.0
defusedxml==0.7.1
denonavr==0.11.6
distlib==0.3.8
filelock==3.13.3
gpiozero==2.0.1
h11==0.14.0
httpcore==1.0.5
identify==2.5.35
httpx==0.27.0
idna==3.7
importlib-metadata==7.1.0
netifaces==0.11.0
nodeenv==1.8.0
pigpio==1.78
pkg-resources==0.0.0
platformdirs==4.2.0
pre-commit==3.7.0
PyYAML==6.0.1
rfc3986==2.0.0
RPi.GPIO==0.7.1
RPLCD==1.3.1
six==1.16.0
smbus==1.1.post2
sniffio==1.3.1
toml==0.10.2
typing-extensions==4.11.0
virtualenv==20.25.1
zipp==3.18.1
