[Unit]
Description=PiDial LCD Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=youruser
ExecStartPre=
ExecStart=/path/to/where/these/are/pi-dial/.venv/bin/python /home/prcutler/workspace/pi-dial/pidial-lcd.py
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target