[Unit]
Description=PiDial Service 
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prcutler
ExecStart=/workspace/pi-dial/.venv/bin/python3 /workspace/pi-dial.py
ExecStartPost
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target