[Unit]
Description=PiDial Service 
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prcutler
ExecStart=source /home/prcutler/workspace/pi-dial/.venv/bin/activate && python3 /home/prcutler/workspace/pi-dial/pidial-lcd.py
ExecStartPost
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target